.image-container {
    max-width: 300px;
    margin: 20px auto;
    cursor: pointer;
}

.uploaded-image {
    max-width: 100%;
    height: auto;
}

.input-invisible {
    display: none;
}

img {
    max-width: 100%;
    height: auto;
}

select option {
    background-color: white !important;
    color: black !important;
}